spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:15432/swim
    username: swim_user
    password: swim_pass
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
